.u-ghost {
    --duration: .6s;
    --delay: 0s;
    position: relative;
}

.u-ghost::before {
    content: '';
    position: absolute;
    z-index: 99;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0%;
    background: var(--body-bgColor);
    transition: height var(--duration) cubic-bezier(.53,.23,.4,.99) var(--delay)
}