.u-row {
    display: flex;
}

.u-row--centerY {
    align-items: center;
}

.u-col {
    --span: 1;
    flex-shrink: 0;
    width: calc((100% / 12) * var(--span))
}

.u-col--offset {
    --offset: 1;
    margin-left: calc((100% / 12) * var(--offset))
}