.a-button {
    display: inline-block;
    height: var(--font-size-2xl);
    line-height: var(--font-size-2xl);
    padding: 0 var(--font-size-md);
    background: var(--color-primary);
    border: 1px var(--color-primary) solid;
    border-radius: var(--border-radius-xs);
    color: var(--color-secondary);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    transition: border-color .1s;
}

.a-button svg {
    width: var(--font-size-xl);
    height: var(--font-size-xl);
    vertical-align: middle;
    margin-top: -.3em;
}

.a-button svg g {
    stroke-width: 2;
    fill: var(--color-secondary)
}

.a-button:hover {
    background: #00BFE0
}

.a-button:hover span {
    color: var(--color-secondary);
    text-shadow: 2px 2px #00BFE0, 2px -2px #00BFE0, -2px 2px #00BFE0, -2px -2px #00BFE0;
    border-bottom: 2px solid var(--color-secondary);
}


.a-button--large {
    height: var(--font-size-3xl);
    line-height: var(--font-size-3xl);
    padding: 0 var(--font-size-lg);
}


.a-button--transparent {
    background: none;
    color: #fff;
    border-color: transparent
}

.a-button--transparent svg g {
    fill: #fff
}

.a-button--transparent:hover {
    background: rgba(255,255,255,.1)
}


.a-button--icon {
    width: var(--font-size-2xl);
    padding: 0;
    text-align: center;
    transition: .1s all linear
}

