.a-button {
    display: inline-block;
    height: var(--font-size-2xl);
    line-height: var(--font-size-2xl);
    padding: 0 var(--font-size-md);
    background: var(--color-primary);
    border: 1px var(--color-primary) solid;
    border-radius: var(--border-radius-xs);
    color: var(--color-secondary);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    transition: border-color .1s;
}

.a-button--large {
    height: var(--font-size-3xl);
    line-height: var(--font-size-3xl);
    padding: 0 var(--font-size-lg);
}

.a-button g {
    fill: #fff
}

.a-button span svg {
    width: 1.5em;
    height: 1.5em;
    float: right;
    margin: .4em -.4em 0 .5em;
}

.a-button span svg g {
    stroke-width: 2;
    fill: #fff
}

.a-button:hover {
    color: var(--color-secondary)
}

.a-button:hover span {
    text-shadow: 2px 2px var(--color-primary), 2px -2px var(--color-primary), -2px 2px var(--color-primary), -2px -2px var(--color-primary);
    border-bottom: 2px solid currentColor;
}

.a-button--secondary {
    background: none;
    color: black;
    border-color: #ccc
}

.a-button--secondary:hover {
    border-color: black
}

.a-button--transparent {
    background: none;
    color: black;
    border-color: transparent
}

.a-button--transparent g {
    fill: #fff
}

.a-button--icon {
    width: var(--font-size-2xl);
    padding: 0;
    text-align: center;
    transition: .1s all linear
}

.a-button--icon svg,
.a-button--icon img {
    width: var(--font-size-xl);
    height: var(--font-size-xl);
    vertical-align: middle;
    margin-top: -.3em;
}

.a-button--soft {
    opacity: .5
}