h1 {
font-weight: 800;
letter-spacing: .15em;
text-transform: uppercase!important;
font-size: var(--font-size-xl);
line-height: 1.2em;
}
    
h2 {
font-weight: 800;
letter-spacing: .15em;
text-transform: uppercase !important;
font-size: var(--font-size-xl);
line-height: 1.2em;
}

h3 {
font-size: var(--font-size-xl);
line-height: 1.2em;
}

h4 {
font-size: var(--font-size-lg);
line-height: 1.2em;
}

h5 {
font-size: var(--font-size-md);
line-height: 1.2em;
}