h1 {
    font-size: var(--font-size-2xl);
    text-transform: uppercase;
    letter-spacing: .05em;
    line-height: calc(var(--font-size-2xl) + var(--space-sm));
    color: var(--color-primary);
    margin: 0;
    word-break: break-word;
}

h2 {
    font-size: var(--font-size-xl);
    line-height: calc(var(--font-size-2xl) + var(--space-sm));
    margin: var(--space-xl) 0 var(--space-m)
}