h1 {
    font-family: var(--font-family-alt);
    font-size: var(--font-size-2xl);
    line-height: calc(var(--font-size-2xl) + var(--space-sm));
    color: var(--color-primary);
    word-break: break-word;
}

h2 {
    font-size: var(--font-size-lg);
    line-height: calc(var(--font-size-lg) + var(--space-sm));
}