.m-facts {
    margin: 0 0 calc(var(--space-md) * -1)
}

.m-facts li {
    position: relative;
    margin: 0 0 var(--space-md);
    padding-left: var(--space-xl);
    width: 8rem;
    letter-spacing: .05em;
}

.m-facts li > * {
    display: block;
    white-space: nowrap;
}

.m-facts img {
    position: absolute;
    left: 0;
    opacity: .4
}

.m-facts span {
    margin-top: .2em;
    color: var(--color-light);
    text-transform: uppercase;
    font-size: var(--font-size-sm)
}