.m-filter--active label,
.m-filter:hover label {
    color: var(--color-text-light)
}

.m-filter label {
    text-transform: uppercase;
    transition: .1s color linear;
}

.m-filter label:hover {
    color: var(--color-text)
}

.m-filter input {
    display: none
}

.m-filter input:checked + label {
    opacity: 1;
    font-weight: 600;
    color: var(--color-text)
}

.m-filter li {
    margin-bottom: var(--space-sm);
    font-size: var(--font-size-md)
}