.m-mainNav {
    z-index: 59;
    position: fixed;
    top: 0;
    display: flex;
    height: 7rem;
    align-items: center;
    left: calc(var(--grid-column-width) / 2);
    margin-left: -.6rem
}

.m-subNav {
    position: fixed;
    z-index: 58;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 7rem 0 0 calc(var(--grid-column-width) / 2);
    background: #fff;
}

.m-subNav__sections {
    column-count: 3;
}

.m-subNav__sections li {
    margin-bottom: var(--space-sm);
}