.m-mainNav {
    z-index: 59;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
    margin-left: calc(calc(var(--font-size-3xl) / 4) * -1);
    padding: 0 var(--body-pad);
}

.m-subNav svg {
    mix-blend-mode: difference;
}

.m-subNav {
    position: fixed;
    z-index: 58;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: var(--header-height) 0 0 calc(var(--grid-column-width) / 2);
    background: #fff;
}

.m-subNav__sections {
    column-count: 3;
    max-width: 60rem;
}

.m-subNav__sections li {
    margin-bottom: var(--space-sm);
}

.m-subNav__facts {
    width: 40rem
}

.m-subNav__headline {
    width: 20rem
}