@import '~assets/css/variables.css';
@import '~assets/css/elements/headlines.css';
@import '~assets/css/utilities/page.css';
@import '~assets/css/utilities/grid.css';
@import '~assets/css/atoms/icon.css';
@import '~assets/css/atoms/button.css';
@import '~assets/css/atoms/text.css';
@import '~assets/css/atoms/photo.css';
@import '~assets/css/molecules/filter.css';
@import '~assets/css/molecules/mainNav.css';
@import '~assets/css/molecules/sandwich.css';
@import '~assets/css/molecules/photo.css';

* { box-sizing: border-box; }

html {
    scroll-behavior: smooth;
}

html,
body {
    background: #fff;
    font-size: var(--font-size-global);
}

body {
    line-height: var(--line-height);
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--color-text);
    background: var(--body-bgColor);
}

a {
    color: var(--color-link);
    text-decoration: none;
}

a:hover {
    color: blue
}

strong {
    font-weight: 600
}

.page-enter-active,
.page-leave-active {
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: .3s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.layout-enter-active, 
.layout-leave-active {
    transition: opacity .3s
  }
.layout-enter, 
.layout-leave-active {
    opacity: 0
}