@import '~assets/css/variables.css';
@import '~assets/css/elements/headlines.css';
@import '~assets/css/utilities/page.css';

* { box-sizing: border-box; }

html {
    scroll-behavior: smooth;
}

html,
body {
    background: var(--color-gray-darkest);
    font-size: var(--font-size-global);
}

body {
    line-height: var(--line-height);
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--color-text);
}

a {
    color: var(--color-link);
    text-decoration: none;
}

a:hover {
    color: var(--color-link-hover)
}

strong {
    font-weight: var(--font-weight-bold)
}