@import '~assets/css/variables.css';
@import '~assets/css/elements/headlines.css';
@import '~assets/css/utilities/page.css';
@import '~assets/css/utilities/animations.css';
@import '~assets/css/atoms/button.css';
@import '~assets/css/atoms/text.css';
@import '~assets/css/atoms/photo.css';
@import '~assets/css/layouts/default.css';

* { box-sizing: border-box; }

html {
    scroll-behavior: smooth;
}

html,
body {
    background: var(--body-bgColor);
    font-size: var(--font-size-global);
    padding: 0 var(--body-pad)
}

body {
    line-height: var(--line-height);
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--color-text);
}

a {
    color: var(--color-link);
    text-decoration: none;
}

a:hover {
    color: #00BFE0
}

button {
    background: none;
    border: none;
    color: var(--color-link);
}

strong {
    font-weight: 600
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}