:root {
    --color-primary: #00D4FA;
    --color-light: #70707C;
    --color-gray: #999;
    --color-secondary: #151e30;
    --color-third: #bbcfff;
    --color-text: #fff;
    --color-text-light: #8a8f98;
    --color-link: #1ED9FA;

    --color-primary-s200: #00aac8;

    --color-secondary-t100: #2c3545;
    --color-secondary-t200: #444b59;
    --color-secondary-t300: #5b626e;
    
    --space-2xs: .25rem;
    --space-xs: .5rem;
    --space-sm: .75rem;
    --space: 1rem;
    --space-md: 1.5rem;
    --space-lg: 2rem;
    --space-xl: 4rem;
    --space-2xl: 5rem;
    --space-3xl: 6rem;
    
    --size-sm: 1rem;
    --size: 1.5rem;
    --size-md: 1.75rem;
    --size-lg: 2rem;
    --size-xl: 2.5rem;
    --size-2xl: 3rem;
    --size-3xl: 4rem;
    
    --font-family-scale: 1.414;
    --font-family: 'PT Sans', 'Sans Serif';
    --font-family-alt: 'Playfair Display', 'Sans Serif';
    --font-size-global: 16px;
    --font-size-sm: .8rem;
    --font-size: 1rem;
    --font-size-md: 1.25rem;
    --font-size-lg: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-2xl: 2.5rem;
    --font-size-3xl: 3rem;
    --line-height: 1.5;
    
    --header-bgColor: var(--color-secondary);
    --header-linkColor: #fff;
    --header-height: 5rem;
    
    --body-bgColor: var(--color-secondary);
    --body-width: 1280px;
    --body-pad: var(--space-md);


    --breakpoint: 1200px;
    --breakpoint-sm: 900px;
    --breakpoint-xs: 600px;

    --grid-column-gap: 16px;

    --border-radius-xs: var(--space-2xs);
    --border-radius-sm: var(--space-xs);
    --border-radius: var(--space-sm);
    
    --transition-default: all .2s ease-in-out;
    
    --shadow: 0 1px 3px 0 rgba(6,0,14,.3), 0 1px 2px 0 rgba(6,0,14,.09);
    --shadow-md: 0 4px 6px -1px rgba(6,0,14,.3), 0 2px 4px -1px rgba(6,0,14,.09);
    --shadow-lg: 0 10px 15px -3px rgba(6,0,14,.3), 0 4px 6px -2px rgba(6,0,14,.09);
    --shadow-xl: 0 25px 50px -12px rgba(6,0,14,.1);
}

@media only screen and (max-width: 600px) {
    :root {
        --font-size-global: 12px;
        --header-height: 4rem;
    }
}