:root {
    --color-primary-darkest: #001519;
    --color-primary-darker: #005564;
    --color-primary-dark: #0094af;
    --color-primary: #00d4fa;
    --color-primary-light: #4de1fc;
    --color-primary-lighter: #99eefd;
    --color-primary-lightest: #e6fbff;

    --color-gray-darkest: #0F1522;
    --color-gray-darkest-rgb: 15,21,34;
    --color-gray-darker: #151e30;
    --color-gray-dark: #2c3545;
    --color-gray: #5b626e;
    --color-gray-light: #8a8f98;
    --color-gray-lighter: #b9bcc1;
    --color-gray-lightest: #e8e9ea;

    --color-white: #fdfdff;
    --color-black: #001013;
    --color-text: #fff;
    --color-text-light: #8a8f98;
    --color-link: #1ED9FA;

    /* SPACES */
    --space-2xs: .25rem;
    --space-xs: .5rem;
    --space-sm: .75rem;
    --space: 1rem;
    --space-md: 1.5rem;
    --space-lg: 2rem;
    --space-xl: 4rem;
    --space-2xl: 5rem;
    --space-3xl: 6rem;

    /* TEXT & LINKS */
    --text-color-lighter: var(--color-gray);
    --text-color-light: var(--color-gray-dark);
    --text-color: var(--color-gray-darker);
    --link-color: var(--color-primary);
    --link-color-hover: var(--color-primary-dark);
    --link-color-light: var(--color-gray);
    --link-color-light-hover: var(--color-gray-dark);

    /* FORMS */
    --control-height: 40px;
    --control-height-md: 48px;
    --control-height-lg: 64px;
    --control-height-xl: 80px;
    
    --size-sm: 1rem;
    --size: 1.5rem;
    --size-md: 1.75rem;
    --size-lg: 2rem;
    --size-xl: 2.5rem;
    --size-2xl: 3rem;
    --size-3xl: 4rem;
    
    --font-family-scale: 1.414;
    --font-family: 'Montserrat', 'Sans Serif';
    --font-family-alt: 'Merriweather', 'Sans Serif';
    --font-size-global: 16px;
    --font-size-sm: .8rem;
    --font-size: 1rem;
    --font-size-md: 1.25rem;
    --font-size-lg: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-2xl: 2.5rem;
    --font-size-3xl: 3rem;
    --font-weight-regular: 400;
    --font-weight-bold: 600;
    --font-weight-alt-bold: 700;
    --font-weight-heavy: 600;
    --line-height: 1.6;
    
    --body-width: 1180px;
    --body-pad: var(--space-md);

    --breakpoint: 1200px;
    --breakpoint-sm: 900px;
    --breakpoint-xs: 600px;

    --grid-column-gap: 16px;

    --border-radius-xs: var(--space-2xs);
    --border-radius-sm: var(--space-xs);
    --border-radius: var(--space-sm);
    --border-radius-md: var(--space-md);
    --border-radius-lg: var(--space-lg);
    --border-radius-xl: var(--space-xl);
    
    --shadow: 0 1px 3px 0 rgba(7,11,16,.45), 0 1px 2px 0 rgba(7,11,16,.18);
    --shadow-md: 0 4px 6px -1px rgba(7,11,16,.45), 0 2px 4px -1px rgba(7,11,16,.18);
    --shadow-lg: 0 10px 15px -3px rgba(7,11,16,.45), 0 4px 6px -2px rgba(7,11,16,.18);
    --shadow-xl: 0 25px 50px -12px rgba(7,11,16,.15);

    --timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);

    /* BUTTONS */
    --button-primary-border-color: transparent;
    --button-primary-hover-border-color: var(--color-primary-dark);
    --button-primary-focus-border-color: var(--color-primary-dark);
    --button-primary-bg-color: var(--color-primary);
    --button-primary-hover-bg-color: var(--color-primary-dark);
    --button-primary-focus-bg-color: var(--color-primary-dark);
    --button-primary-text-color: var(--color-black);
    --button-primary-hover-text-color: var(--color-black);

    --button-secondary-border-color: transparent;
    --button-secondary-hover-border-color: transparent;
    --button-secondary-focus-border-color: transparent;
    --button-secondary-bg-color: var(--color-gray-darker);
    --button-secondary-hover-bg-color: var(--color-gray-dark);
    --button-secondary-focus-bg-color: var(--color-gray-dark);
    --button-secondary-text-color: var(--color-gray-light);
    --button-secondary-hover-text-color: var(--color-white);

    --button-ghost-border-color: transparent;
    --button-ghost-hover-border-color: var(--color-gray-darker);
    --button-ghost-focus-border-color: var(--color-gray-lighter);
    --button-ghost-bg-color: transparent;
    --button-ghost-hover-bg-color: var(--color-gray-darker);
    --button-ghost-focus-bg-color: var(--color-gray-darker);
    --button-ghost-text-color: var(--color-primary);
    --button-ghost-hover-text-color: var(--color-gray-darkest);
}

@media only screen and (max-width: 600px) {
    :root {
        --font-size-global: 14px;
        --header-height: 4rem;
    }
}