:root {
    --color-primary: black;
    --color-light: gray;
    --color-gray: #999;
    --color-secondary: darkgray;
    --color-third: #bbcfff;
    --color-text: black;
    --color-text-light: #999;
    --color-link: black;
    --color-h1: var(--color-primary);
    
    --space-2xs: .25rem;
    --space-xs: .5rem;
    --space-sm: .75rem;
    --space: 1rem;
    --space-md: 1.5rem;
    --space-lg: 2.25rem;
    --space-xl: 3.337rem;
    --space-2xl: 4.171rem;
    --space-3xl: 6.256rem;
    
    --size-sm: 1rem;
    --size: 1.5rem;
    --size-md: 1.75rem;
    --size-lg: 2rem;
    --size-xl: 2.5rem;
    --size-2xl: 3rem;
    --size-3xl: 4rem;
    
    --font-family-scale: 1.414;
    --font-family: 'PT Sans', 'Sans Serif';
    --font-family-alt: 'Playfair Display', 'Sans Serif';
    --font-size-global: 14px;
    --font-size-sm: .8rem;
    --font-size: 1rem;
    --font-size-md: 1.25rem;
    --font-size-lg: 1.563rem;
    --font-size-xl: 1.953rem;
    --font-size-2xl: 2.441rem;
    --font-size-3xl: 3.052rem;
    --line-height: 1.5;
    
    --header-bgColor: #fff;
    --header-linkColor: var(--color-text);
    
    --footer-bgColor: var(--color-primary);
    --footer-textColor: #fff;
    
    --body-bgColor: #fff;
    --body-width: 1400px;
    --body-pad: 0;

    --grid-column-width: calc(100% / 12);
    
    --image-border-radius: .5em 1em;
    --card-border-radius: .2rem;
    
    --transition-default: all .2s ease-in-out;
    
    --shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --shadow-xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);;
}

@media only screen and (max-width: 1000px) {
    :root {
        --body-pad: var(--space-lg)
    }
}

@media only screen and (max-width: 1000px) {
    :root {
        --body-pad: var(--space-lg)
    }
}

@media only screen and (max-width: 800px) {
    :root {
        --body-pad: var(--space-md)
    }
}

@media only screen and (max-width: 600px) {
    :root {
        --body-pad: var(--space)
    }
}