.gallery-enter-active {
    animation: gallery-in .8s;

}
.gallery-leave-active {
    animation: gallery-out .8s;
}

@keyframes gallery-in {
80% { transform: scale(1) }
80% { transform: scale(0) }
}
@keyframes gallery-out {
100% { transform: scale(1) }
80% { transform: scale(0) }
}

body {
    background: #ddd
}