.l-slider {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.l-slider__section {
    height: 100vh;
    scroll-snap-align: start;
    padding: 0 var(--body-pad)
}






.l-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.l-container__logo {
    position: fixed;
    top: 2vh;
    left: 2vw;
    font-size: var(--font-size-xl);
    font-weight: 700
}

.l-container__section {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    flex-shrink: 0;
    width: inherit;
    height: inherit;
    transition: all 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) .5s;
    backface-visibility: hidden;
}

.l-container__move {
    transition: all .5s cubic-bezier(0.445, 0.05, 0.55, 0.95) var(--move-delay);
    transform: translateX(0)
}

.l-container__section--index.v-leave { transform: translateX(0) }
.l-container__section--index.v-leave .l-container__move { transform: translateX(0) }
.l-container__section--index.v-leave-active .l-container__move--1 { --move-delay: .1s }
.l-container__section--index.v-leave-active .l-container__move--2 { --move-delay: .2s }
.l-container__section--index.v-leave-active .l-container__move--3 { --move-delay: .3s }
.l-container__section--index.v-leave-to { transform: translateX(-100vw) }
.l-container__section--index.v-leave-to .l-container__move { transform: translateX(-100vw);opacity: 0 }
.l-container__section--index.v-enter { transform: translateX(-100vw) }
.l-container__section--index.v-enter .l-container__move { transform: translateX(-100vw) }
.l-container__section--index.v-enter-active .l-container__move--1 { --move-delay: .3s }
.l-container__section--index.v-enter-active .l-container__move--2 { --move-delay: .2s }
.l-container__section--index.v-enter-active .l-container__move--3 { --move-delay: .1s }
.l-container__section--index.v-enter-to { transform: translateX(0) }
.l-container__section--index.v-enter-to .l-container__move { transform: translateX(0) }

.l-container__section--album.v-enter { opacity: 0 }
.l-container__section--album.v-enter .l-container__move { transform: translateX(100vw) }
.l-container__section--album.v-enter-active .l-container__move--1 { --move-delay: .1s }
.l-container__section--album.v-enter-active .l-container__move--2 { --move-delay: .2s }
.l-container__section--album.v-enter-active .l-container__move--3 { --move-delay: .3s }
.l-container__section--album.v-enter-to { opacity: 1 }
.l-container__section--album.v-enter-to .l-container__move { transform: translateX(0) }
.l-container__section--album.v-leave { transform: translateX(0) }
.l-container__section--album.v-leave .l-container__move { transform: translateX(0) }
.l-container__section--album.v-leave-active .l-container__move--1 { --move-delay: .3s }
.l-container__section--album.v-leave-active .l-container__move--2 { --move-delay: .2s }
.l-container__section--album.v-leave-active .l-container__move--3 { --move-delay: .1s }
.l-container__section--album.v-leave-to { transform: translateX(100vw) }
.l-container__section--album.v-leave-to .l-container__move { transform: translateX(100vw) }
