.l-gallery {
    overflow: hidden; /* blend mode hack */
}
.l-gallery__aside {
    position: fixed;
    width: calc(calc(100% / 12) * 3);
    top: 7rem;
    left: calc(var(--grid-column-width) / 2);
    bottom: 7rem;
    display: flex;
    flex-direction: column;
}

.l-gallery__asideContent {
    width: 100%;
    flex: 1;
    overflow-y: scroll;
}

.l-gallery__stream {
    position: relative;
    width: calc(var(--grid-column-width) * 7);
    margin: 7rem 0 7rem calc(var(--grid-column-width) * 4);
}

.l-gallery__photo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.l-gallery__navigation > * {
    position: absolute;
    z-index: 1;
}

.l-gallery__navigation span {
    bottom: -3.5rem;
    transform: translate(-50%, 50%);
    left: 50%;
}

.l-gallery__navigation a {
    top: 50%;
    left: calc(var(--grid-column-width) / 2);
    transform: translateY(-50%)
}

.l-gallery__navigation a:last-child {
    left: auto;
    right: calc(var(--grid-column-width) / 2);
}

/* DETAIL */
.l-gallery--detail {
    background: #f5f5f5;
    min-height: 100vh
}

.l-gallery--detail .l-gallery__stream {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 7rem;
    right: var(--grid-column-width);
    bottom: 7rem;
    left: calc(var(--grid-column-width) * 4);
    width: calc(var(--grid-column-width) * 8);
    margin: 0;
    padding: 0 var(--grid-column-width);
}

/* DETAIL FOCUS */
.l-gallery--show .l-gallery__aside {
    transform: translateX(-100%);
    opacity: 0;
}

.l-gallery--show .l-gallery__stream {
    left: 0;
    width: 100%;
}