.title-enter-active, .title-leave-active { transition: all .3s cubic-bezier(.53,.23,.4,.99) }
.title-enter-active::before, .title-leave-active::before { transition: all .3s cubic-bezier(.53,.23,.4,.99) }

.title-leave { transform: translateX(0);opacity: 1 }
.title-leave-to { transform: translateX(-10rem);opacity: 0 }

.title-leave::before { transform: translateX(0);opacity: 1 }
.title-leave-to::before { transform: translateX(5rem);opacity: 0 }

.title-enter { transform: translateX(10rem);opacity: 0 }
.title-enter-to { transform: translateX(0);opacity: 1 }

.title-enter::before { transform: translateX(-5rem);opacity: 0 }
.title-enter-to::before { transform: translateX(0);opacity: 1 }


.cover-enter-active, .cover-leave-active { transition: all .3s cubic-bezier(.53,.23,.4,.99); }
.cover-enter-active { float:right }

.cover-enter { width: 0%;transform: skewX(-2deg) }
.cover-enter-to { width: 100%;transform: skewX(0) }

.cover-leave { width: 100%;transform: skewX(2deg) }
.cover-leave-to { width: 0%;transform: skewX(0) }


.article-enter-active, .article-leave-active { transition: all .3s cubic-bezier(.53,.23,.4,.99) }

.article-enter { transform: translateX(5rem);opacity: 0 }
.article-enter-to { transform: translateX(0);opacity: 1 }

.article-leave { transform: translateX(0);opacity: 1 }
.article-leave-to { transform: translateX(-5rem);opacity: 0 }


.map-enter-active, .map-leave-active,
.map-enter-active *, .map-leave-active * { transition: all .4s cubic-bezier(.53,.23,.4,.99) .05s }

.map-enter-active circle, .map-leave-active circle { animation-duration: .1s }

.map-enter #border, .map-enter #route { stroke-dasharray: var(--length);stroke-dashoffset: var(--length);opacity: .3 }
.map-enter-to #border, .map-enter-to #route { stroke-dasharray: var(--length);stroke-dashoffset: 0;opacity: 1}
.map-leave #border, .map-leave #route { stroke-dasharray: var(--length);stroke-dashoffset: 0;opacity: 1 }
.map-leave-to #border, .map-leave-to #route { stroke-dasharray: var(--length);stroke-dashoffset: calc(var(--length) * -1);opacity: .3 }

.map-enter circle { opacity: 0 }
.map-enter-to circle { opacity: 1 }
.map-leave circle { opacity: 1 }
.map-leave-to circle { opacity: 0 }