.o-countries {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 100vh;
}

.o-country {
    scroll-snap-align: start;
    display: flex;
    height: 100vh;
}

.o-country__section {
    width: 100vw;
    min-height: 100vh;
    display: flex;
}

.o-country__section > * {
    min-height: inherit
}

.o-country img {
    max-width: 100%;
    max-height: 100%;
}

.o-country__text {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.o-country__text h2 {
    font-size: var(--font-size-3xl);
    margin: -10rem 0 var(--space-xl)
}

.o-country__gallery {
    width: 62%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.o-country__photo {
    position: relative;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.o-country__photo img {
    position: absolute;
    z-index: 3;
    box-shadow: var(--shadow-xl)
}

